.alpha-container {
    position: absolute;
    inset: 0;

    .alpha-checkboard {
        position: absolute;
        inset: 0;
        overflow: hidden;
    }

    .alpha-gradient {
        position: absolute;
        inset: 0;
    }

    .pointer-container {
        position: relative;
        height: 100%;
        margin: 0 3px;

        .alpha-pointer {
            position: absolute;
        }
    }
}
