.hue-container {
    position: absolute;
    inset: 0;

    .hue-horizontal {
        padding: 0 2px;
        position: relative;
        height: 100%;

        .hue-pointer {
            position: absolute;
        }
    }
}
