.color-picker-saturation {
    position: absolute;
    inset: 0;
    border-radius: 2px 2px 0px 0px;

    .saturation-white,
    .saturation-black {
        position: absolute;
        inset: 0;
        border-radius: 2px 2px 0px 0px;
        cursor: crosshair;

        .saturation-pointer {
            position: absolute;

            .color-pointer-circle{
                width: 12px;
                height: 12px;
                border-radius: 6px;
                box-shadow: inset 0 0 0 1px #fff;
                transform: translate(-6px, -6px);
                mix-blend-mode: difference;
            }
        }
    }

    .saturation-white {
        background: -webkit-linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
        background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
    }
    .saturation-black {
        background: -webkit-linear-gradient(to top, #000, rgba(0, 0, 0, 0));
        background: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
    }
}
